@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>This Web application  which work as a helping platform for managing process of  part time jobs. This helps to connect the people who need part time jobs and people who are willing to supply part time jobs. And part time job suppliers  can post details about part time job related things such as type of the job ,amount of salary ,location , needed qualification of employee.</p>
<br />
<p> As well the employees are kept in touch about issuing part time jobs by sending notifications.This app simplifies and make easy the process of searching for part time jobs according to the employees preferences such as location, salary ,type of job.This system would have to analyse process of  selecting part time employees based on the first come first serve method or rating method of the employee.</p>
