@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*    <h3>@ViewBag.Message</h3>*@

<address>
    Lankawe Part-Time<br />
    Colombo 07, WA 98052-6399<br />
    <abbr title="Phone">Phone Number:</abbr>
    +94 11 12 34 567
</address>

<address>
    <strong>Support:</strong>   <a href="">info@parttimejob.com</a><br />
    <strong>Admin:</strong> <a href="">admin@parttime.com</a>
</address>

<h3>@ViewBag.TheMessage</h3>
<form method="post">
    <textarea name="message">Send Message</textarea>
    <input type="submit" value="Send" />
</form>