
@{
    ViewBag.Title = "Home";
}

<h2>Your are in Employer Dashboard</h2>

<div class="row">
    <div class="col-md-6 margin-top-20"><a href="@Url.Action("CreateJob", "EmployerHomePage")" class="btn btn-primary btn-block btn-large"><span class="glyphicon glyphicon-circle-arrow-down"></span>Create New Job</a></div>
    <div class="col-md-6 margin-top-20"><a href="@Url.Action("Index", "WithOutQualificationJob")" class="btn btn-primary btn-block btn-large">My Posted Job</a></div>
</div>

<div class="row">
    <div class="col-md-6 margin-top-20"><a href="" class="btn btn-primary btn-block btn-large">Approvel Job</a></div>
    <div class="col-md-6 margin-top-20"><a href="" class="btn btn-primary btn-block btn-large">My Rating</a></div>
</div>

<div class="row">
    <div class="col-md-6 margin-top-20"><a href="" class="btn btn-primary btn-block btn-large">CV</a></div>
    <div class="col-md-6 margin-top-20"><a href="" class="btn btn-primary btn-block btn-large">My Profile</a></div>
</div>